anyio
certifi
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
orjson
peewee
psycopg2-binary
pydantic
PyJWT
python-dotenv
python-multipart
PyYAML
rfc3986
six
sniffio
starlette
typing_extensions
ujson
uvicorn
uvloop
watchfiles
websockets
requests
